<mat-toolbar color="primary" class="app-header">
  <div class="toolbar">
    <h1><a routerLink="/" routerLinkActive="active">Movie Store</a></h1>
    <div class="toolbar-options">
      <h3 *ngIf="isAuthenticated()">Hello, {{getCurrentUser()}}</h3>
      <button disabled="{{!isAuthenticated() && (cartItemsQuantity$ | async) <= 0}}" mat-button
              [matMenuTriggerFor]="cart">
        <mat-icon matBadge="{{(cartItemsQuantity$ | async) || 0}}" matBadgeColor="accent">shopping_cart</mat-icon>
      </button>
      <mat-menu #cart="matMenu" yPosition="below">
        <p *ngFor="let cartItem of (cartContent$|async)?.items" mat-menu-item
           class="cart-item"><b>{{cartItem?.movie?.title}}</b> ({{cartItem.quantity}})</p>
        <a routerLink="/cart" routerLinkActive="active" mat-raised-button color="accent"
           style="display: block; margin: 0 16px;">Go to
          cart</a>
      </mat-menu>
      <a mat-raised-button *ngIf="!isAuthenticated()" routerLink="/signIn" routerLinkActive="active"
         color="accent">Sign in</a>
      <button mat-raised-button *ngIf="isAuthenticated()" color="accent" (click)="signOut()">Sign out</button>
    </div>
  </div>
</mat-toolbar>
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
